<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <style>
      .nav3 ul > li:hover ul li {
        height: 36px;
      }
      .nav3 li ul li {
        overflow: hidden;
        height: 0;
        -webkit-transition: height 200ms ease-in;
        -moz-transition: height 200ms ease-in;
        -o-transition: height 200ms ease-in;
        transition: height 200ms ease-in;
      }
    </style>
  </head>
  <body>
    <nav class="nav nav3">
			<ul>
				<li>
          <a href="#">Nav Item</a>
          
					<ul>
						<li><a href="#">Subnav Item</a></li>
						<li><a href="#">Subnav Item</a></li>
						<li><a href="#">Subnav Item</a></li>
          </ul>
          
				</li>
			</ul>
		</nav>
  </body>
</html>